* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', "Roboto Light", serif!important;
}



body{
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  background-image:  radial-gradient(#56be2d 4px, transparent 4px), radial-gradient(#56be2d 4px, #ffffff 4px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;
}

*::after,*::before {
  box-sizing: border-box;
}

@media (max-width: 440px) {
  body {
    overflow-x: hidden;
  }
}