* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', "Roboto Light", serif!important;
}



body{
  overflow-x: hidden;

}

*::after,*::before {
  box-sizing: border-box;
}

@media (max-width: 440px) {
  body {
    overflow-x: hidden;
  }
}