.home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}
.center{
    margin-bottom: 50vh;
    margin-top: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
.filter-green{

    mask: no-repeat center;
}


.title {
    display: grid;
    justify-content: center;
    padding-top: 20vh!important;
    padding-bottom: 10vh;
}

.title h1 {
    text-align: center;

    font-size: 40px;
}
.title h2 {
    text-align: center;
    font-size: 25px;
}

.wrapper-grid {
    padding-left: 16vw;
    padding-right: 10vw;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 22rem);
    justify-content: center;
}





.card {
    box-shadow: 2px 4px 10px 4px lightgray;
    margin-bottom: 30px;
    content: "";
    position: relative;
    width: 280px;
    height: 380px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: "MEDX";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: lightgray;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
    background: #72B957;

}


.card::after {
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: 600;
    font-size: 6em;
    color: rgba(0, 0, 0, 0.1);
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
}

.card .imgBox img {
    width: 270px;
    transition: .6s;
}

.card:hover .imgBox img {
    margin-top: -30px;
    width: 300px;
    transition: 1.3s;

}
.card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.card:hover .contentBox{
    position: relative;
    bottom: 0;
    left: 0;


}

.card .contentBox:hover::after {
    background-color: blue;

}

.card .contentBox h3 {
    text-align: center;
    font-size: 1.3rem;
    color: black;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card:hover .contentBox h3 {
    margin-top: -50px;
    transition: .7s;

}

.card .contentBox .price {
    font-size: 18px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
.card:hover .contentBox  {

}
.card .contentBox .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #72B957;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}



.mobile {
    display: none;
}
@media (max-width: 440px) {


    .normalSection {
        display: none;
    }
    .mobile {
        display: block;
    }
    .title {
        padding: 0!important;
        text-align: center;
    }
    .card {
        width: 240px;
        height: 320px;
    }

    .wrapper-grid {
        grid-template-columns: repeat(auto-fit, 16rem);
    }
    .title h1 {
        padding-right: 10vw;
        padding-left: 20vw;
        display: flex;
        justify-content: center;
        padding-top: 15vh;
        font-size: 40px;
    }
    .title h2 {
        padding-right: 10vw;
        padding-left: 20vw;
        display: flex;
        justify-content: center;
        font-size: 25px;
    }

}


