
.mobile {
    display: none;
}

.titleProducts {
    display: grid;
    justify-content: center;
    padding: 4vh;

}
.titleProducts h1 {
    text-align: center;
    font-size: 40px;
}
.titleProducts h2 {
    text-align: center;
    font-size: 25px;
}
/* Pagination.css */
.paginationProducts {
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.paginationProducts button {
    background-color: #f1f1f1;
    color: black;
    border: 1px solid #ddd;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.paginationProducts button.active {
    background-color: #4caf50;
    color: white;
}

.paginationProducts button:hover:not(.active) {
    background-color: #ddd;
}

.paginationProducts button.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
