
.title {
    display: grid;
    justify-content: center;
    padding-top: 10vh;
}

.title h1 {
    text-align: center;

    font-size: 40px;
}
.title h2 {
    text-align: center;
    font-size: 25px;
}
