.prod-card-new {
    background-color: rgba(179, 187, 201, 0.249);
    border-radius: 10px;
    padding: 20px;
    max-width: 280px; /* Limita el ancho máximo a 280px */
    min-width: 280px;
    margin: 0 10px 20px; /* Agrega margen alrededor de las tarjetas */
    height: 380px;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;}
.prod-card-new:hover .prod-card-new-logo-img {
    transform: rotate(360deg);
}

.prod-card-new-button-container {
    display: flex;
    gap: 10px;
}

.prod-card-new-button {
    font-size: 30px; /* Aumenta el tamaño de fuente a 30px */
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 10px;

}

.prod-card-new-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.details-button {
    background-color: rgba(114, 185, 87, 0.7);
}

.cart-button {
    background-color: rgba(114, 185, 87, 0.7);
}


.prod-card-new::before {
    content: "";
    position: absolute;
    top: -20%;
    right: -50%;
    width: 201%;
    height: 120%;
    transform: skewY(345deg) rotate(45deg);
    transition: 0.5s;
    z-index: -1;
}


.prod-card-new:hover::before {
    top: -70%;
    right: -70%;
    transform: skewY(345deg) rotate(45deg);
    background-color: #72B957;
}

.prod-card-new:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-color: rgba(114, 185, 87, 0.6);
    background-position: 0 100%;
}

.prod-card-new-img {
    width: 100%;
    height: 180px; /* Reducir la altura a 180px */
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.prod-card-new-info {
    margin-top: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.prod-card-new-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px; /* Reducir el tamaño de fuente a 24px */
    line-height: 1.2;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
    transition: font-size 0.5s, transform 0.5s, text-align 0.5s, background-color 0.5s, padding 0.5s, border-radius 0.5s;
}

.prod-card-new-info p {
    color: darkgrey;
    font-size: 17px;
    line-height: 1.4;
    margin: 10px 0;
}


.prod-details-new {
    position: absolute;
    bottom: -15px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: bottom 0.5s cubic-bezier(0.5, 0, 0, 1);

}

.prod-price-new {
    font-size: 20px; /* Reducir el tamaño de fuente a 20px */
    font-weight: bold;
    color: #4caf50;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 40%;
    text-align: center;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}




.prod-card-new-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 20; /* Incrementa el z-index */

}


.prod-card-new-logo-img {
    border-radius: 50%;
    border: 10px black;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    object-fit: cover;
        transition: transform 0.3s;
    z-index: 10;
}



.typewriter-text-0,
.typewriter-text-1,
.typewriter-text-2 {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typeWriter 2s steps(40, end);
}

.typewriter-text-0 {
    animation-delay: 0s;

}

.typewriter-text-1 {
    animation-delay: 2s; /* Ajusta el valor según la duración de la animación del primer span */

}

.typewriter-text-2 {
    animation-delay: 4s; /* Ajusta el valor según la duración de la animación del segundo span */
}

@keyframes typeWriter {
    0% {
        width: 10%;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    100% {
        width: 100%;
    }
}

.rotating-border {
    z-index: -1;
    position: absolute;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: rotateBorder 2s linear infinite;
    overflow: hidden; /* Agrega esta línea para ocultar el contenido fuera del círculo */

}
.rotating-border::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;

    background-image: linear-gradient(45deg, #202120, #72b957); /* Ajusta los colores del gradiente según tus necesidades */
    z-index: -10;
}
@keyframes rotateBorder {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}




.prod-card-new:hover .rotating-border::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 50%;
    background-image: linear-gradient(45deg, #ebeceb, #ffffff); /* Ajusta los colores del gradiente según tus necesidades */
    z-index: -10;
}

.prod-card-new:hover .prod-card-new-logo-img {
    scale: 1.2;
    transform: rotate(360deg);
}


.prod-card-new:hover .prod-card-new-img {
    transform: scale(1.1);
}

.prod-card-new:hover .prod-price-new {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    background-color: rgba(245, 245, 245, 0.27);

}

.prod-card-new-button {
    opacity: 0;
}
.prod-card-new:hover .prod-card-new-button {
    animation: 1s swing;
    opacity: 1;
}

/* Haz la animación de balanceo más lenta */
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Aumenta la diferencia en la opacidad entre el título y la descripción */
.prod-card-new-info h3,
.prod-card-new-info p {
    opacity: 1;
    transition: opacity 0.5s; /* Aumenta la duración de la transición */
}

.prod-card-new:hover .prod-card-new-info h3 {
    opacity: 1;
    text-align: center;
    font-size: 2rem;
    left: 0;
    white-space: normal;
    transform: translateY(-10vh);
    z-index: 10;
    background-color: rgba(29, 30, 33, 0.75);
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    color: whitesmoke;
    font-weight: 900;
    transition: all 1s cubic-bezier(0.5, 0, 0, 1);

}

.prod-card-new .prod-card-new-info h3 {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}


.prod-card-new:hover .prod-card-new-info h3 {
    opacity: 1;
    left: 0;
    white-space: normal;
    transform: translateY(-10vh);
    text-align: center;

    z-index: 10;
    background-color: rgba(29, 30, 33, 0.75);
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
    font-weight: 900;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

/* Reverse animation for h3 when hover ends */
.prod-card-new:not(:hover) .prod-card-new-info h3 {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}
.prod-card-new:not(:hover) .prod-card-new-button {
    opacity: 0;
    transform: translateY(0);
}

.prod-card-new:not(:hover) .prod-price-new {
    transform: scale(1);
    box-shadow: none;
}

.prod-card-new:not(:hover) .prod-card-new-logo-img {
    transform: rotate(0deg);
}

.prod-card-new:not(:hover) .prod-card-new-img {
    transform: scale(1);
}

.prod-card-new:not(:hover)::before {
    top: -20%;
    right: -50%;
    transform: skewY(345deg) rotate(45deg);
}

.prod-card-new:not(:hover) {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    background-position: 0 0;
}

.prod-card-new:hover .prod-card-new-info p {
    opacity: 0; /* Desvanece completamente el texto de la descripción */
}
.prod-card-new:hover .prod-details-new {
     bottom: 5%;
 }
@keyframes changeBackgroundColor {
    0%, 100% {
        background-color: #4caf50;
    }
    50% {
        background-color: white;
    }
}

button .prod-btn-new:active {
    animation: changeBackgroundColor 1s forwards;
}

/* Aplica la animación de balanceo más lenta al botón cuando se pasa el cursor por encima de la tarjeta */
.prod-card-new:hover .prod-btn-new {
    animation: swing 1s ease ; /* Aumenta la duración de la animación */
    opacity: 1;
}

.anime-time {
    --anime-time: 8s;
    --box-size: 200px;
    --clip-distance: 0.01;
    --clip-size: calc(200px * (1 + 0.01 * 2));
    --path-width: 2px;
    --working-animation-color: #72B957;

}

.full-fill {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.working {
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 370px;
    width: 270px;
    margin: auto;
}

.working::before,
.working::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    margin: calc(-1 * 0.01 * 100%);
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
    color: #72B957;
}

.working::before {
    animation-delay: calc(8s * -0.5);
}
.working2 {
    z-index: 100;
    position: absolute;
    top: 10px;
    bottom: 0;
    right: 0;
    height: 380px;
    width: 275px;
    margin: auto;
}

.working2::before,
.working2::after {
    position: absolute;
    height: 370px;
    width: 270px;
    top: 200px;
    bottom: 0;
    left: 276px;
    right: 0;
    content: '';
    z-index: -1;
    margin: calc(-1 * 0.01 * 100%);
    box-shadow: inset 0 0 0 2px;
    animation: clipMe 8s linear infinite;
    color: #72B957;

}

.working2::before {
    animation-delay: calc(8s * -0.5);
}

@keyframes clipMe {
    0%, 100% {
        clip: rect(0px, calc(200px * (1 + 0.01 * 2)), 2px, 0px);
    }
    25% {
        clip: rect(0px, 2px, calc(200px * (1 + 0.01 * 2)), 0px);
    }
    50% {
        clip: rect(calc(200px * (1 + 0.01 * 2) - 2px), calc(200px * (1 + 0.01 * 2)), calc(200px * (1 + 0.01 * 2)), 0px);
    }
    75% {
        clip: rect(0px, calc(200px * (1 + 0.01 * 2)), calc(200px * (1 + 0.01 * 2)), calc(200px * (1 + 0.01 * 2) - 2px));
    }
}





.prod-card-mobile {
    background-color: rgba(179, 187, 201, 0.249);
    border-radius: 10px;
    padding: 15px;
    max-width: 100%;
    min-width: 100%;
    margin: 0 10px 20px;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;
}

.prod-card-mobile-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.prod-card-mobile-info {
    margin-top: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.prod-card-mobile-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.prod-card-mobile-info p {
    color: darkgrey;
    font-size: 14px;
    line-height: 1.4;
    margin: 10px 0;
}

.prod-details-mobile {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-price-mobile {
    font-size: 16px;
    font-weight: bold;
    color: #4caf50;
    display: flex;

    height: 45px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    border-radius: 10px;
}

.prod-card-mobile-button {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    align-items: center;
    gap: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.prod-card-mobile-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 20;
}

.prod-card-mobile-logo-img {
    border-radius: 50%;
    border: 10px black;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    object-fit: cover;
    background-color: white;
    transition: transform 0.3s;
    z-index: 10;
}

.prod-card-mobile:hover .prod-card-mobile-logo-img {
    transform: rotate(360deg);
}

.prod-card-mobile-button-container {
    display: flex;
    gap: 10px;
}

.prod-card-mobile-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.details-button-mobile {
    background-color: rgba(114, 185, 87, 0.7);
}

.cart-button-mobile {
    background-color: rgba(114, 185, 87, 0.7);
}

.prod-card-mobile::before {
    content: "";
    position: absolute;
    top: -20%;
    right: -50%;
    width: 201%;
    height: 120%;
    transform: skewY(345deg) rotate(45deg);
    transition: 0.5s;
    z-index: -1;
}

.prod-card-mobile:hover::before {
    top: -70%;
    right: -70%;
    transform: skewY(345deg) rotate(45deg);
    background-color: #72B957;
}

.prod-card-mobile:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-color: rgba(114, 185, 87, 0.6);
    background-position: 0 100%;
}

.prod-card-mobile:hover .prod-card-mobile-info h3 {
    opacity: 1;
    text-align: center;
    font-size: 1.5rem;
    left: 0;
    white-space: normal;
    transform: translateY(0);
    z-index: 10;
    background-color: rgba(29, 30, 33, 0.75);
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    color: whitesmoke;
    font-weight: 900;
    transition: all 1s cubic-bezier(0.5, 0, 0, 1);
}

.prod-card-mobile .prod-card-mobile-info h3 {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.prod-card-mobile:not(:hover) .prod-card-mobile-info h3 {
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}

.prod-card-mobile:not(:hover) .prod-card-mobile-button {
    opacity: 0;
    transform: translateY(0);
}

.prod-card-mobile:not(:hover) .prod-price-mobile {
    transform: scale(1);
    box-shadow: none;
}
.prod-card-mobile:hover .prod-price-mobile {
   position: relative;
    justify-content: center;

}

.prod-card-mobile:not(:hover) .prod-card-mobile-logo-img {
    transform: rotate(0deg);
}

.prod-card-mobile:not(:hover) .prod-card-mobile-img {
    transform: scale(1);
}

.prod-card-mobile:hover .prod-card-mobile-info p {
    opacity: 0; /* Desvanece completamente el texto de la descripción */
}

.prod-card-mobile:hover .prod-details-mobile {
    bottom: 5%;
}

@keyframes changeBackgroundColor {
    0%, 100% {
        background-color: #4caf50;
    }
    50% {
        background-color: white;
    }
}

button .prod-btn-mobile:active {
    animation: changeBackgroundColor 1s forwards;
}

/* Aplica la animación de balanceo más lenta al botón cuando se pasa el cursor por encima de la tarjeta */
.prod-card-mobile:hover .prod-btn-mobile {
    animation: swing 1s ease ; /* Aumenta la duración de la animación */
    opacity: 1;
}
.prod-card-mobile .prod-details-mobile {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.prod-card-mobile:hover .prod-card-mobile-info p {
    opacity: 0; /* Desvanece completamente el texto de la descripción */
}

.prod-card-mobile:not(:hover) .prod-card-mobile-img {
    transform: scale(1);
}


.prod-card-mobile:hover {
    transform: translateY(0); /* Evita que el height aumente con el hover */
}