.topBar{
    position: fixed;
    width: 100%;
    background: hsl(0, 9%, 91%);
    height: 5vh;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
}

.topbar-mobile > .topbarIcons{
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.topbarIcon{
    display: flex;

}

.topbarIcon > a {
    color: inherit;
}

.instaIcon > a {
    color: inherit;
}

.instaIcon > a:hover {
    color: inherit;
}

.faceIcon > a {
    color: inherit;
}

.faceIcon > a:hover {
    color: inherit;
}

.number > a {
    color: inherit;
}

.topbarIcon > a:hover{
    color:rgb(0, 255, 145);
}

.number > a:hover{
    color: inherit;
}

.instaIcon:hover{
    color:rgb(225 48 108);
}

.faceIcon:hover{
    color:rgb(66 103 178);
}

.topbarIcon:hover{
    color:rgb(0, 255, 145);
}

.number{
    color: rgb(31, 30, 30);

}

.topbarIcons{
    width: 20rem;
    display: flex;
    justify-content: space-between;

}

.topbarIcon:hover{
    color:rgb(0, 255, 145);
}
