.topBar {
    top: 25px;
    position: fixed;
    width: 100vw;
    background-color: hsla(0, 9%, 91%, 0.13);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px) / 5);
    z-index: 21;
}

@keyframes logoAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.searchBar {
    z-index: 22;
    position: fixed;
    top: 2.3rem;
    left: 10vw;
    font-size: 2.4rem;
    width: 65vw;
    height: 3rem;
    border: none;
    outline: none;
    border-radius: 3rem;
    transition: all .2s;
    transition-delay: .1s;
}

.searchBar:hover {
    width: 67vw;
    height: 4rem;

}

.miniHeader {
    background-color: #24af4e;
    text-align: center;
    position: fixed;
    margin-bottom: 200px;
    z-index: 21;
    width: 100%;
}

.miniHeader > h3 {
    color: white;


}

.searchBarButton {
    height: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: all .2s;
    transition-delay: .1s;
}

.searchBarButton:hover {
    cursor: pointer;
}

.searchBar:hover + .searchBarButton {
    height: 1.6rem;
    top: 1rem;
    right: -2rem;
}

.searchBar::placeholder {
    opacity: .5;
}

.topbar-mobile > .topbarIcons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

.topbarText {
    margin-top: 0.3rem;
}


.instaIcon {
    z-index: 21;
    position: fixed;
    top: 33px;
    right: 30px;

}

.faceIcon {
    z-index: 21;

    position: fixed;
    top: 35px;
    right: 100px;

}

.topbarIcon {
    z-index: 21;
    position: fixed;
    top: 34px;
    right: 190px;
}

.topbarIcon2 {
    z-index: 21;
    position: fixed;
    top: 36px;
    right: 260px;
}
.topbarIcon > a {
    color: inherit;
}.topbarIcon2 > a {
    color: inherit;
}

.instaIcon > a {
    color: inherit;
    padding: 0rem 1rem;
}

.instaIcon > a:hover {
    color: inherit;
}

.faceIcon > a {
    color: inherit;
}

.faceIcon > a:hover {
    color: inherit;
}

.number > a {
    color: inherit;
}

.topbarIcon > span :hover {
    transition: 0.3s;
    color: rgb(0, 255, 145);
}
.topbarIcon2 > span :hover {
    transition: 0.3s;
    color: rgb(0, 255, 145);
}

.number > a:hover {
    color: inherit;
}

.instaIcon:hover {
    color: rgb(225 48 108);
}

.faceIcon:hover {
    color: rgb(66 103 178);
}

.topbarIcon:hover {
    transition: 0.3s;

    color: rgb(0, 255, 145);
}
.topbarIcon2:hover {
    transition: 0.3s;

    color: rgb(0, 255, 145);
}

.number {
    color: rgb(31, 30, 30);

}

.topbarIcons {
    width: 20rem;
    display: flex;

}

.topbarIcon:hover {
    color: rgb(0, 255, 145);
}

.faceIcon {
    padding: 0rem 1rem;
}


.logoBanner {
    display: flex;
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 22;
    width: 5vw;
    border-radius: 50%;
    padding: 1px;
    animation: logoAnimation 2s infinite;
}

.logoBanner img {
    z-index: 22;
    width: 95%;
}

nav {
    position: absolute;
    top: 20vh;
}


@media (max-width: 768px) { /* Ajusta este valor según el tamaño de pantalla que desees abordar */
    .searchBar {
        left: 40vw;
        width: 50vw;
    }

    .searchBar:hover {
        width: 50vw;
    }

    .logoBanner {
        top: 10px;
        left: 10px;
        width: 20vw;
    }

    .topbarIcons {
        display: none;
    }

    .miniHeader {
        font-size: 0.8rem;
    }
}

@media (max-width: 440px) {
    .logoBanner {
        top: 3vh;
        left: 0;
        width: 18vw;
    }

    .topbarIcons {
        display: none;
    }

    .searchBar {
        top: 2.3rem;
        left: 22vw;
        width: 58vw;
    }
}

/* Ajustes para dispositivos móviles */
@media (max-width: 767px) {
    .searchBar {
        left: 5vw;
        width: 90vw;
    }

    .searchBar:hover {
        width: 90vw;
    }

    .logoBanner {
        top: 10px;
        left: 10px;
        width: 20vw;
    }

    .topbarIcons {
        display: none;
    }
}

/* Ajustes para tabletas y dispositivos de tamaño mediano */
@media (min-width: 768px) and (max-width: 991px) {
    .searchBar {
        left: 5vw;
        width: 75vw;
    }

    .searchBar:hover {
        width: 75vw;
    }

    .logoBanner {
        top: 15px;
        left: 10px;
        width: 15vw;
    }

    .instaIcon {
        right: 40px;
    }

    .faceIcon {
        right: 110px;
    }

    .topbarIcon {
        right: 200px;
    }

    .topbarIcon2 {
        right: 270px;
    }
}

/* Ajustes para dispositivos de tamaño grande (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
    .searchBar {
        left: 10vw;
        width: 60vw;
    }

    .searchBar:hover {
        width: 62vw;
    }

    .logoBanner {
        top: 20px;
        left: 15px;
        width: 5vw;
    }

    .instaIcon {
        right: 30px;
    }

    .faceIcon {
        right: 100px;
    }

    .topbarIcon {
        right: 190px;
    }

    .topbarIcon2 {
        right: 260px;
    }
}

/* Ajustes para dispositivos de tamaño extra grande (pantallas grandes) */
@media (min-width: 1200px) {
    .searchBar {
        left: 10vw;
        width: 65vw;
    }

    .searchBar:hover {
        width: 67vw;
    }

    .logoBanner {
        top: 20px;
        left: 15px;
        width: 5vw;
    }

    .instaIcon {
        right: 30px;
    }

    .faceIcon {
        right: 100px;
    }

    .topbarIcon {
        right: 190px;
    }

    .topbarIcon2 {
        right: 260px;
    }
}
