.bgimg-texto {
    background-image: url("../../assets/fondo1.png");
    min-width: 90vw;
    min-height: 60vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Caption styles */
.captionTexto {
    position: relative;
    left: 0;
    width: 100%;
    text-align: center;
}

.captionTexto .borderTexto > div {
    color: white;
    background: white;
    border-radius: 10px;
    max-width: 40vw;
    position: relative;
    left: 30%;
    justify-content: center;
    font-size: 25px;
}

.texto-descriptivo {
    color: black;
}
