.home {
    margin-bottom: 50vh;
    margin-top: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.center {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
