.cardMobile {
    display: none;
}

.cardMobile::before {
    display: none;

}

@media (max-width: 440px) {
    .cardMobile {
        box-shadow: 1px 1px 1px 1px lightgray;

        display: flex;
        margin-bottom: 30px;
        content: "";
        position: relative;
        width: 280px;
        height: 120px;
        background: white;
        border-radius: 20px;
        overflow: hidden;
    }

    .cardMobile::before {
        display: flex;
        border-radius: 20px;

        content: "MEDX";
        position: absolute;
        top: -50%;
        width: 100%;
        height: 100%;
        background: lightgray;
        transform: skewY(345deg);
        transition: 0.5s;
    }

    .cardMobile:hover::before {
        top: -50%;
        transform: skewY(390deg);
        background: #72B957;


    }

    .cardMobile:hover .button-85 {
        display: block;


    }


    /* CSS */
    .button-85 {
        display: none;
        padding: 0.6em 2em;
        border: none;
        outline: none;
        color: rgb(45, 44, 44);
        background-color: #fdfdfd;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 10px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .button-85:before {
        content: "";
        background: linear-gradient(
                45deg,
                #00FF91FF,
                #008F28
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing-button-85 20s linear infinite;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
    }

    @keyframes glowing-button-85 {
        0% {
            background-position: 0 0;
        }
        50% {
            background-position: 400% 0;
        }
        100% {
            background-position: 0 0;
        }
    }

    .button-85:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255, 248, 248, 0.98);
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    .cardMobile:hover {
        transition: ease .5s;
        height: 160px;
        z-index: 30;
    }

    .cardMobile .imgBox {
        position: relative;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .cardMobile .imgBox img {
        object-fit: cover;
        width: 100%;
        transition: .6s;
    }

    .cardMobile:hover .imgBox img {
        width: 150%;
        transition: 1.3s;

    }

    .cardMobile .contentBox {
        position: relative;
        padding: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }


    .cardMobile .contentBox:hover::after {
        background-color: blue;
    }

    .cardMobile .contentBox h3 {
        width: 100px;
        height: 80px;
        overflow: hidden;

        text-overflow: ellipsis;
        text-align: center;
        font-size: 1rem;
        color: black;
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .cardMobile:hover .contentBox h3 {
        transition: .7s;

    }
}