.header {
    z-index: 20;
    display: flex;
    position: fixed;
    flex-direction: column;
    inset: 4% 85% 0 0;
    background-color: hsl(0, 9%, 91%);
    transition: all 400ms;
}


.header-mobile {
    height: 100vh;
    width: 5vw;
    z-index: 20;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 9%, 91%);

}

nav .ul-item {
    display: flex;
    flex-direction: column;
    align-content: end;
    margin-block: .5rem;
    list-style: none;
}

nav .ul-item.oicon a {
    display: none;
}

nav .ul-item.oicon li::after {
    content: '';
    position: absolute;
    width: 1%;
    height: 4%;
    background-color: #fff;
    right: 0;
}

nav .ul-item li {
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    padding-block: 1.2rem;
    margin-block: .1rem;
}
.header-mobile > nav .ul-item li:hover {
    border-radius: 100%;
    background-color: rgb(125, 118, 118);
}
.header > nav .ul-item li:hover {
    background-color: rgb(125, 118, 118);
}

.header > nav .ul-item li:hover > .customLink {

    color:rgb(0, 255, 145);
}

.iconActive{
    color:#00FF91FF;
    margin-inline: 1rem;
    font-size: 30px;
}
.itemActive{
    background-color: rgb(125, 118, 118);
    border-radius: 100%;
}

.header > nav .ul-item > .itemActive {
    border-radius: 0%;
    background-color: rgb(125, 118, 118);
}

nav .ul-item li:hover > .icon{
    color:#00FF91FF;
}
nav .ul-item li .icon:hover {
    color:rgb(0, 255, 145);
    margin-inline: 1rem;
    font-size: 30px;
}
nav .ul-item li .icon {
    color: rgb(31, 30, 30);
    margin-inline: 1rem;
    font-size: 30px;
}

nav .ul-item li a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #1d1c1c;
    border-left: 1px solid white;
    padding-left: 2rem;

}
.menu-icon {

    margin-inline: 1rem;
}

.logo {
    transition: 1.5s ease;
    filter: drop-shadow(0px 0px 0px hsl(0, 0%, 0%));

    padding-top: 10%;
    padding-bottom:30%;
}

.header-mobile .rrssIcons {

    height: 50px;
}
.header .rrssIcons {

    height: 100px;
}



.menu-icon .menu {
    color: #1d1c1c;
    margin-block: 1rem;
    cursor: pointer;
    font-size: 30px;
}
.menu-icon .menu:hover {

    color:rgb(0, 255, 145);
    border-radius: 100%;
    background-color: rgb(125, 118, 118);
}

.banner {
    filter: drop-shadow(2px 2px 2px hsl(0, 0%, 0%));
    transition: 1.5s ease;


}
nav .ul-item li:hover {
    transition: 1s ease;
}


@media (max-width:950px) {
    .header-mobile {
        width: 16vw;
    }

    nav .ul-item {
        display: none;
    }
    nav ul li > .expandIcon {
        background: aqua;
    }


    nav .ul-item.oicon {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    nav .ul-item li .icon {
        font-size: clamp(1rem,2vw + 1rem, 4rem);
    }
}

