.prod-card-new2 {
    background-color: rgba(179, 187, 201, 0.249);
    border-radius: 10px;
    padding: 20px;
    max-width: 280px; /* Limita el ancho máximo a 280px */
    min-width: 280px;
    margin: 0 10px 20px; /* Agrega margen alrededor de las tarjetas */
    height: 380px;
    backdrop-filter: blur(12px);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid transparent;}
.prod-card-new2:hover .prod-card-new2-logo-img {
    transform: rotate(360deg);
}

.prod-card-new2::before {
    content: "";
    position: absolute;
    top: -20%;
    right: -50%;
    width: 201%;
    height: 120%;
    transform: skewY(345deg) rotate(45deg);
    transition: 0.5s;
    z-index: -1;
}


.prod-card-new2:hover::before {
    top: -70%;
    right: -70%;
    transform: skewY(345deg) rotate(45deg);
    background-color: #72B957;
}

.prod-card-new2:hover {
    transform: translateY(-20px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    border-color: rgba(114, 185, 87, 0.6);
    background-position: 0 100%;
}

.prod-card-new2-img {
    width: 100%;
    height: 180px; /* Reducir la altura a 180px */
    object-fit: cover;
    border-radius: 40px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.prod-card-new2-info {
    margin-top: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.prod-card-new2-info h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px; /* Reducir el tamaño de fuente a 24px */
    line-height: 1.2;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Aplica la fuente Poppins */
    transition: font-size 0.5s, transform 0.5s, text-align 0.5s, background-color 0.5s, padding 0.5s, border-radius 0.5s;
}



.prod-card-new2-info p {
    font-size: 16px; /* Reducir el tamaño de fuente a 16px */
    line-height: 1.4;
    margin: 10px 0;
}


.prod-details-new {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod-price-new {
    font-size: 20px; /* Reducir el tamaño de fuente a 20px */
    font-weight: bold;
    color: #4caf50;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 5px 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.prod-btn-new {
    opacity: 0;
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px; /* Reducir el tamaño del relleno a 8px 12px */
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}



.prod-card-new2-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}


.prod-card-new2-logo-img {
    border: 10px black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
    transition: transform 0.3s;
}

.prod-card-new2:hover .prod-card-new2-logo-img {
    transform: rotate(360deg);
}


.prod-card-new2:hover .prod-card-new2-img {
    transform: scale(1.1);
}

.prod-card-new2:hover .prod-price-new {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.prod-card-new2:hover .prod-btn-new {
    opacity: 1;
}

/* Haz la animación de balanceo más lenta */
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Aumenta la diferencia en la opacidad entre el título y la descripción */
.prod-card-new2-info h3,
.prod-card-new2-info p {
    opacity: 1;
    transition: opacity 0.5s; /* Aumenta la duración de la transición */
}

.prod-card-new2:hover .prod-card-new2-info h3 {
    opacity: 1; /* El título permanece completamente visible */
    white-space: normal; /* Muestra el título completo sin el word break */
    font-size: 26px; /* Aumenta el tamaño de fuente en 2px */
    transform: translateY(-24px); /* Mueve el título hacia arriba */
    text-align: center; /* Centra el texto */
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    padding: 5px 10px; /* Agrega un relleno alrededor del título */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra alrededor del título */
}

.prod-card-new2:hover .prod-card-new2-info p {
    opacity: 0; /* Desvanece completamente el texto de la descripción */
}
@keyframes changeBackgroundColor {
    0%, 100% {
        background-color: #4caf50;
    }
    50% {
        background-color: white;
    }
}

button .prod-btn-new:active {
    animation: changeBackgroundColor 1s forwards;
}

/* Aplica la animación de balanceo más lenta al botón cuando se pasa el cursor por encima de la tarjeta */
.prod-card-new2:hover .prod-btn-new {
    animation: swing 1s ease ; /* Aumenta la duración de la animación */
    opacity: 1;
}


